python-dotenv

langchain
langchain-openai
langchain-community
langchain-cohere
langchain-anthropic

pandas
ragas

nest_asyncio

sacrebleu

opik 
openai
requests
pypdf

langgraph
nltk

pyarrow 
fsspec
huggingface_hub

instructor
